.contentWrapper {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.inputsearch {
    display: flex;
    align-items: center;
    height: var(--header-height);
    padding: 0 0 0 var(--panel-padding);
    position: relative;
    background: var(--background-color);
    //border: 1px solid lightgray;
}

.content {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0 var(--panel-padding) var(--panel-padding) var(--panel-padding);
    background: var(--background-color);

    h2 {
        padding: 0;
        margin: 16px 0;
        font-size: calc(var(--font-size) - 1px);
        line-height: var(--line-height);
        font-weight: bold;
        color: var(--color-blue);

        :not(.hidden) {
            margin-top: 16px;
            border-top: none;
            padding-top: 0;
        }
    }

    .card {
        border-radius: 3px;
        overflow: hidden;
        background-color: var(--secondary-background-color);
        padding-bottom: 6px;
        margin-bottom: 16px;

        .title {
            padding: 8px 12px 4px;
            font-size: calc(var(--font-size) - 1px);
            font-weight: 600;
            line-height: calc(var(--line-height) - 6px);
        }

        .cover {
            padding-bottom: 77%;
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }
    }

    .card.selected {
        box-shadow: 0 0 0 3px var(--color-blue);
        text-decoration: none !important;
    }

    a {
        &:hover {
            color: var(--color-blue);
        }
    }
}