.git {
    a .button {
        padding: 12px;
        border-radius: 50%;
        margin-bottom: 0px;
        background-color: #FFF;
        opacity: 0.9;
        z-index: 999;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
        background-image: url('./github.png');
        background-size: 60px 60px;
        width: 60px;
        height: 60px;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}